# =========================
# Python cache & temp
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE configs
# =========================
.idea/
.vscode/

# =========================
# DATA (EXCLUDE ALL)
# =========================
data/

# =========================
# Logs
# =========================
*.log